<div class="flaskbb-layout">
    <div class="container">
        <div class="panel page-panel">
            <div class="panel-heading page-head">
                Post Question
            </div>
            {{#Form}}
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="POST">
                    <div class="form-group row">
                        <label class="col-sm-3 control-label" for="category">Category</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="category" name="category" data-category="{{Category}}">
                            </select>
                        </div>
                        <!-- end div_class -->
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label" for="subcategory">Sub Category</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="subcategory" name="subcategory" data-subcategory="{{SubCategory}}">
                            </select>
                        </div>
                        <!-- end div_class -->
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label" for="title">Title</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="title" name="title" placeholder="Title" type="text" value="{{Title}}">
                            <label id="titleError" class="error"> </label>
                        </div>
                        <!-- end div_class -->
                    </div>
                    <!-- end form-group -->
                    <div class="form-group row">
                        <label class="col-sm-3 control-label" for="description">Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control summernote" rows="20" id="description" name="description">
                            {{Description}}
                            </textarea>
                            <label id="descriptionError" class="error"> </label>
                        </div>
                        <!-- end div_class -->
                    </div>
                    <!-- end form-group -->
                    <div class="form-group row">
                        <div class="col-sm-offset-10 col-sm-3">
                            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post">
                        </div>
                    </div>
                    <!-- end form-group -->
                </form>
            </div>
            {{/Form}}
            <div id="divLoading">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {


        $('.summernote').summernote({
            toolbar: [
                ["style", ["bold", "italic", "underline", "clear"]],
                ['para', ['ul', 'ol', 'paragraph']]
            ],
            tabsize: 2,
            height: 300
        });


        $("#category").on("change", function(e) {
            console.log("some selection happened in category dropdown")
            var opt = $(this).find(":selected")
            var subcats = opt.data('category').SubCategories
            $('#subcategory').html('')
            if (subcats.length == 0) {
                var opt = $("<option>None</option>")
                $('#subcategory').append(opt)
                return
            }

            $.each(subcats, function(i, v) {
                var opt = $("<option></option>")
                    .attr("value", v.Name)
                    .text(v.Name)
                $('#subcategory').append(opt);
            })
        })

        $.ajax({
            url: "/discussion-board/categories",
            cache: false,
            success: function(data) {
                $.each(data, function(i, v) {
                    var opt = $("<option></option>")
                        .attr("value", v.Name)
                        .attr("data-category", JSON.stringify(v))
                        .text(v.Name)
                    $('#category').append(opt);
                })
                setCategory()
                $("#category").trigger("change")
                setSubCategory()
            }
        })

        // Tried form valiation through jquery validator framework. unfortunately the
        // framework did not work well with summernote. Even if i skipped summernote field from validator framework,
        // still it gave trouble. So i implemented the validation manually.
        var submitted = false
        $('form').submit(function(e){
            var errorFound = false;
            var title = $('#title').val()
            if(title.trim().length == 0) {
                $('#titleError').text('This field is required.')
                errorFound = true
            } else {
                $('#titleError').text('')
            }

            var desc =  $('.summernote').summernote('code')
            console.log("desc length ==>", desc.trim().length)
            if(desc.trim().length == 0){
                $('#descriptionError').text('This field is required.')
                 errorFound = true
            } else {
                $('#descriptionError').text('')
            }
            if(errorFound){
                e.preventDefault();
                e.stopPropagation();
            } else {
                //To disable double form submit
                if (submitted) {
                    e.preventDefault()
                    e.stopPropagation()
                }
                submitted = true
            }

        });

        function setCategory() {
            var cat = $('#category').data('category')
            console.log("cat =", cat)
            if (cat) {
                $('#category').val(cat)
            } else {
                console.log("else part cat =", cat)
            }
        }

        function setSubCategory() {

            var subcat = $('#subcategory').data('subcategory')
            console.log("subcat =", subcat)
            if (subcat) {
                $('#subcategory').val(subcat)
            } else {
                console.log("else subcat =", subcat)

            }
        }

    })
</script>
